[Desktop Entry]
Name=Gisoplox
GenericName=CAM software for cutting machines
Comment=CAM software to generate G code for plasma and oxyfuel cutting machines
Exec=gisoplox
Icon=${SNAP}/meta/gui/gisoplox.png
Terminal=false
Type=Application
Categories=Development;
StartupNotify=true
